{% extends "base.html" %}
{% block title %}Not available to you - Race Times{% endblock %}
{% block content %}
<h1>This page isn't available to you</h1>
{% if request.club %}
<p>It's for {{ request.club.name }}'s {% if "/members/" in request.path %}administrators{% else %}race committee or members{% endif %},
  and your login doesn't have that role here.</p>
<p><a href="{% url 'races:my_boats' %}">Your page at {{ request.club.name }}</a> &middot;
  <a href="{% url 'results:home' %}">{{ request.club.name }}'s results</a></p>
{% else %}
<p>Your login doesn't have access to it.</p>
{% endif %}
{% endblock %}
